@import "_variables.scss";
@import "_layout.scss";
@import "_position.scss";
@import "_sizing.scss";
@import "_utilities.scss";
@import "_animation.scss";
@import "_buttons.scss";
@import "_parallax.scss";
@import "_card.scss";
@import "_block.scss";
@import "_invalid.scss";
@import "_header.scss";




.container {
    width: $w-9;
    margin: auto;
    max-width: 1350px;
  }
  
  
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
  h6, p, blockquote, pre, a, abbr, acronym, address, big,
  cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
  strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
  dd, ol, ul, li, fieldset, form, label, legend, table, caption,
  tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
  embed, figure, figcaption, footer, header, hgroup, menu, nav,
  output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    }
  
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none!important;
  }
  
  div, input, textarea, select, button,
  h1, h2, h3, h4, h5, h6, a, span, a:focus {
    outline: none !important;
  }
  
  
  body {  
      font-family: 'Inter', sans-serif;
      background-color: $gray-200;
    }
  
  ul, ol {
      list-style-type: none;
  }
  

  .overflow-h {
    overflow: hidden;
  }